@import 'tailwindcss' source('./');

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

@media (max-width: 640px) {
  :root {
    --spacing: 0.23rem;
  }
}

body {
  margin: 0;
  font-family:
    Roboto,
    'Helvetica Neue',
    sans-serif;
  @apply bg-gray-50 text-gray-900 transition-colors dark:bg-gray-950 dark:text-gray-100;
}

.google-btn-container > div {
  width: 100% !important;
}
